html, body, header {
    height: 100%;
}


header {
    background: url(media/fit.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.nav {
    background-color: rgba(0, 0, 0, 0.83);
    height: 120px;
}

.logo {
    height: 66px;
    width: 134px;
}

.menu {
    color: rgb(215, 51, 81);
    font-size: 2em;
}

.menu a {
    color: rgb(215, 51, 81);
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    display: flex;
    align-items: center;
}

.menu a:focus {
    border: solid rgb(215, 51, 81) 5px;
    height: 50px;
}

.welcome {
    color: white;
    font-size: 5em;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(68, 68, 68);
}

.weight {
    background: url(media/fit4.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
}

.yellow {
    background-color: rgba(220, 205, 43, 0.6);
    display: inline-block;
    width: 60%;
    height: 40%;
    padding: 5px;
}

.yellow p:nth-child(1) {
    font-size: 3em;
}

.yellow p {
    margin: 0;
    font-size: 1.5em;
    font-weight: bold;
}

.yellow p:nth-child(4) {
    margin-bottom: 10px;
}

@media (min-width: 1200px) {  }

@media (min-width: 992px) and (max-width: 1199px) {  }

@media (min-width: 768px) and (max-width: 991px) {  }

@media (min-width: 576px) and (max-width: 767px) {  }

@media (max-width: 575px) { 

    .logo {
        transform: scale(0.5, 0.5);
    }
    .menu {
        font-size: 1.2em;
    }

    .nav .col-5 {
        padding: 0;
    }
 }


