

/* section produit */

.separator {
    background-color: white;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
}

.favorite {
    color: #d73351;
    
}

.font {
    font-size: 67pt;
    font-weight: bold;
 text-shadow: 5px 5px 5px #7b7b7b;

}

.energy {
    font-size: 27pt;
    font-weight: bold;

}
.rectangle {
    background-color: #d73351;
    color: white;
  text-align: left;
}